.SelectPanel-p {
    border: none;
    cursor: pointer;
 }

.SelectPanel-p:hover {
}

.SelectPanel {
    display: inline-block;
}
.SelectPanel-dropdawn {
    display: none;
    position: absolute;
    width: 50vw;
}
.SelectPanel-dropdawn  .SelectPanel-ListEl{
     text-decoration: none;
    display: block;
    border: none;
}
.SelectPanel-ListEl{
    width: 10vw;
    height: 5vh;
    border: none;
    margin: 0;
    text-decoration: none;
    background: rgba(180, 71, 93, 1);
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.SelectPanel:hover .SelectPanel-dropdawn {
    display: block;
    position: absolute;

}
