.SetDay-set{
    width: 30vw;
    height: 3vh;
    border: none;
    text-decoration: none;
    background: rgba(180, 71, 93, 1);
    color:white;
}
.SetDay-text{
    height: 2vh;
}
.SetDay{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
